[submodule "pinocchio"]
	path = pinocchio
	url = https://github.com/stack-of-tasks/pinocchio.git
[submodule "example-robot-data"]
	path = example-robot-data
	url = https://github.com/Gepetto/example-robot-data.git
